{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Image</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> Flag </label><input type="text" name="flag" value="{{ .Flag }}"  /><br />
      <label> Image </label><input type="text" name="image" value="{{ .ImageBytes }}"  /><br />
      <input type="submit" value="Save image" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}
